<div [ngClass]="mode" class="widget px-2 py-3 clickable">
  <div *ngIf="index" class="widget-number">
    <div class="position-relative">
      <div class="position-absolute text-danger white-num top-0 fs-130 jua">
        {{ index }}
      </div>
      <div class="position-absolute blue-num top-0 fs-130 jua">
        {{ index }}
      </div>
    </div>
    <!--  <div class="position-relative">
      <div class="circles">
        <div class="circle1"></div>
        <div class="circle2"></div>
      </div>
    </div> -->
  </div>
  <div [ngClass]="[!index ? 'start-0' : 'index', mode]" class="widget-body">
    <img [src]="book.image" alt="book" />
    <div class="p-2">
      <span class="mt-2 d-block fs-16 fw-600">{{ book.title }}</span>
      <div class="mt-1">
        <app-rating [ratings]="book.ratings" [user]="book.user"></app-rating>
      </div>
      <div class="widget-button">
        <app-wish-list-button
          [color]="mode === 'dark' ? 'white' : 'blue'"
          [buttonWidth]="'w-100'"
          [topMargin]="'mt-3'"
        ></app-wish-list-button>
      </div>
    </div>
  </div>
</div>
