<section>
  <div [ngClass]="mode" class="widget px-2 py-3 clickable">
    <div *ngIf="index" class="widget-number d-none d-sm-block">
      <div class="position-relative">
        <div class="position-absolute text-danger white-num top-0 fs-130 jua">
          {{ index }}
        </div>
        <div class="position-absolute blue-num top-0 fs-130 jua">
          {{ index }}
        </div>
      </div>
    </div>
    <div [ngClass]="[!index ? 'start-0' : 'index', mode]" class="widget-body">
      <img
        ngNoValidate
        draggable="false"
        #img
        (error)="img.src = 'assets/img/book3.png'"
        [ngSrc]="book.image"
        alt="book"
        height="194"
        width="170"
      />
      <div class="p-2">
        <div [title]="book.name" class="mt-2 fs-16 fw-600 book-name">
          {{ book.name }}
        </div>
        <div class="mt-1">
          <app-rating
            [ratings]="book.rating"
            [user]="book.review_count"
          ></app-rating>
        </div>
        <div class="widget-button">
          <app-wish-list-button
            [buttonWidth]="'w-100'"
            [color]="mode === 'dark' ? 'white' : 'blue'"
            [topMargin]="'mt-3'"
          ></app-wish-list-button>
        </div>
      </div>
    </div>
  </div>
</section>
