<footer>
  <div class="body overflow-x-hidden">
    <div
      class="row p-5 row-cols-auto row-cols-sm-4 row-cols-md-auto justify-content-sm-center gap-5 pt-5 text-white fs-16"
    >
      <div class="col">
        <div class="fw-600">Get Connected</div>
        <div class="tabs d-flex gap-2 flex-row flex-sm-column mt-2">
          <div>About Us</div>
          <div>Follow Us</div>
          <div>FAQs</div>
        </div>
      </div>
      <div class="col">
        <div class="fw-600">Policy</div>
        <div class="tabs d-flex gap-2 flex-row flex-sm-column mt-2 flex-wrap">
          <div>Disclaimer</div>
          <div>Privacy Policy</div>
          <div>Refund Policy</div>
          <div>Terms and Conditions</div>
        </div>
      </div>
      <div class="col">
        <div class="fw-600">Follow Us</div>
        <div class="d-flex gap-2 flex-row flex-sm-column mt-2">
          <img alt="follow us" src="assets/icons/contactUs.png" />
        </div>
      </div>
      <div class="col">
        <img alt="logo" src="assets/icons/BrightR.Club.png" />
      </div>
    </div>
  </div>
  <div
    class="footer text-white d-flex justify-content-center align-items-center"
  >
    <span> © 2024 BrightR.Club </span>
  </div>
</footer>
