.wishlist-card {
  border-radius: 12px;
  padding: 8px;
  transition: background 0.2s;

  &:hover {
    background: #edf2ff;
  }

  .book-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
