button {
  height: 40px;
}

.w-218 {
  width: 218px;
}

.blue {
  color: #3b72ff;
  border-radius: 8px;
  border: 2px solid #3b72ff;
}

.white {
  color: white;
  border-radius: 8px;
  border: 2px solid white;
}
