.logo-box {
  width: 552px;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .navbar-collapse {
    position: fixed;
    top: 56px; /* Adjust this value based on your navbar height */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Adjust the overlay color and transparency */
  }
}

@media (max-width: 991px) {
  .hide-collapse {
    display: none;
  }

  .navbar-nav {
    align-items: start !important;
  }
}

.collapsedSearch {
  display: none;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: unset !important;
  }
}

@media (max-width: 638px) {
  .collapsedSearch {
    display: flex;
    width: 100%;
  }
  .navSearch {
    display: none;
  }
}

.search-box {
  input {
    width: 320px;
    height: 42px;
  }
}

.activeLink {
  color: #3b72ff !important;
}

/*
nav {
  .navbar-collapse.show {
    display: none;
  }
}

nav:hover {
  .navbar-collapse.show {
    display: block;
  }
}
*/
