<nav
  class="app-padding d-flex align-items-center justify-content-between w-100"
>
  <section class="d-flex gap-5 logo-box">
    <img
      alt="BrightRClub logo"
      class="clickable"
      src="assets/img/BrightR.Club.png"
    />
    <div
      class="border rounded-3 bg-lightBlue flex-grow-1 input-group flex-nowrap search-box"
    >
      <span
        class="input-group-text border-0 rounded-3 bg-transparent"
        id="addon-wrapping"
        ><img alt="search" src="assets/icons/search.png"
      /></span>
      <input
        class="bg-lightBlue border-0 shadow-none form-control border rounded-3"
        id="example-search-input"
        placeholder="Search by author, title, age, genre..."
        type="search"
      />
    </div>
  </section>
  <section class="d-flex justify-content-around">
    <div class="fs-14 d-flex align-items-center gap-4 ms-auto fw-500">
      <span class="clickable tab">Home</span>
      <span class="clickable tab">Browse Library</span>
      <span class="clickable tab">Book</span>
      <span class="separator"></span>
      <span class="clickable tab">My Books</span>
      <div class="d-flex align-items-center gap-1">
        <div class="clickable tab">
          <div class="fs-12 text-end">Next Delivery</div>
          <div>Mon, 15 Jan</div>
        </div>
        <img alt="options" src="assets/icons/caret-down.png" />
      </div>
      <div class="clickable">
        <img alt="profile" src="assets/icons/dp.png" />
      </div>
    </div>
  </section>
</nav>
