.logo-box {
  width: 552px;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .navbar-collapse {
    position: fixed;
    top: 56px; /* Adjust this value based on your navbar height */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Adjust the overlay color and transparency */
  }
}

@media (max-width: 991px) {
  .hide-collapse {
    display: none;
  }

  .navbar-nav {
    align-items: start !important;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    bottom: unset !important;
    padding-left: 1rem;
    background: white !important;
  }
}

@media (max-width: 638px) {
  .navbar-brand {
    order: 1;
  }
  .navbar-toggler {
    order: 2;
  }
  .navSearch {
    order: 3;
    width: 100% !important;
    margin-right: 0 !important;
  }
  .collapsedSearch {
    display: flex;
    width: 100%;
  }
}

.search-box {
  max-width: 605px;
  input {
    height: 42px;
  }
}

.activeLink {
  color: #3b72ff !important;
}

.searchResult {
  max-height: 50vh;
  z-index: 1000;
  top: 82%;
  width: 100%;
  border-radius: 0 0 6px 6px;
}

.app-logo {
  height: 32px;
}
