.widget {
  height: 360px;
  @media screen and (min-width: 601px) {
    opacity: 40%;
    &:hover {
      opacity: 1;
      img {
        margin: 3px;
        border: 5px solid transparent;
        outline: white solid 3px;
        height: 250px;
        width: 200px;
        animation: enlarge 0.9s;
      }
    }
  }
  img {
    border-radius: 35px;
  }
}

@keyframes enlarge {
  0% {
    opacity: 0.2;
  }

  100% {
    border: 5px solid transparent;
    outline: white solid 3px;
    height: 250px;
    width: 200px;
    opacity: 1;
  }
}
