<section>
  <div class="d-flex gap-3 py-2 clickable" [routerLink]="['/book', book.id]">
    <div class="flex-shrink-0">
      <img
        draggable="false"
        #img
        (error)="img.src = 'assets/img/book3.png'"
        [src]="thumbnail"
        alt="book"
        height="70"
        width="55"
        style="border-radius: 6px; object-fit: cover;"
      />
    </div>
    <div>
      <div class="fs-14 fw-600 book-name" [title]="book.volumeInfo?.title">
        {{ book.volumeInfo?.title }}
      </div>
      <div class="fs-12 text-muted mt-1">{{ book.volumeInfo?.authors?.[0] }}</div>
      <span
        *ngIf="book.volumeInfo?.categories?.[0]"
        class="d-inline-block fs-12 arrival p-1 mt-1"
      >
        {{ book.volumeInfo?.categories?.[0] }}
      </span>
    </div>
  </div>
</section>
