.gradient {
  height: 188px;
  background: linear-gradient(
    to left,
    rgba(249, 242, 255, 1),
    rgba(224, 236, 255, 1),
    rgba(235, 255, 250, 1)
  );

  img {
    height: 152px;
  }

  .title {
    position: absolute;
    top: 10%;
    left: 3%;
  }
}

.age-box {
  margin-bottom: 40px;
}

.last-img {
  right: 3%;
}

.section {
  position: relative;
  .title {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    left: 3%;
  }
}
