.gradient {
  min-height: 188px;
  background: linear-gradient(
    to left,
    rgba(249, 242, 255, 1),
    rgba(224, 236, 255, 1),
    rgba(235, 255, 250, 1)
  );


  .title {
    position: absolute;
    top: 10%;
    left: 3%;
    font-size: 24px;
    font-weight: 600;
  }
}

.age-box {
  margin-bottom: 40px;
}

.last-img {
  right: 3%;
}

.section {
  margin-left: 3%;
  .title {
    font-size: 24px;
    font-weight: 600;
  }
}

.popularSeries {
  height: 1020px;
  background: rgb(78, 129, 255);
  background: linear-gradient(
    60deg,
    rgba(78, 129, 255, 1) 0%,
    rgba(11, 27, 69, 1) 49%,
    rgba(11, 27, 69, 1) 73%,
    rgba(240, 137, 157, 1) 100%,
    rgba(157, 60, 253, 1) 100%
  );
}

.pt-6 {
  padding-top: 4rem;
}
