.widget {
  position: relative;
  height: 380px;
  border-radius: 40px;
  width: 700px;

  &-inner {
    width: 100%; // Take full width of the parent
    display: flex;
    margin-left: 10px;
    border-radius: 40px;
    height: 290px;
    transition: height 0.3s ease;
  }

  &-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-body {
    position: absolute;
    transition: top 0.3s ease;
    left: 50%;
    top: 20%;
  }

  &-button {
    display: none;
    transition: display 0.8s ease-in;
  }
}

.widget:hover {
  .widget-inner {
    margin-left: 0;
    height: 360px;
  }

  .widget-image {
    transform: translateY(-50%) rotate(3deg);
  }

  .widget-body {
    top: 10%;
  }

  .widget-button {
    display: block;
  }
}



.title {
  margin-top: 10px;
}

.separator {
  height: 16px;
}

/*.searchResult::-webkit-scrollbar {
  width: 8px;               !* width of the entire scrollbar *!
}

.searchResult::-webkit-scrollbar-track {
  background: orange;        !* color of the tracking area *!
}

.searchResult::-webkit-scrollbar-thumb {
  background-color: blue;    !* color of the scroll thumb *!
  border-radius: 20px;       !* roundness of the scroll thumb *!
  border: 3px solid orange;  !* creates padding around scroll thumb *!
}*/
