.widget {
  height: 70px;
  width: 74px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: white;

  &:hover,
  &.active {
    background: #edf2ff;
    color: rgba(59, 114, 255, 1);
  }
}

.nv-10 {
  margin-top: -10px;
}
