.scrollable-content {
  scrollbar-width: none;
  overflow-x: scroll !important;
  scroll-behavior: smooth;
}

.scrollable-content::-webkit-scrollbar {
  display: none !important;
}

.round-button {
  color: #3b72ff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 111;
  -webkit-text-stroke: 1px;
}
