@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Jua&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.jua {
  font-family: "Jua", sans-serif;
}

.app-padding {
  padding: 0 4% 0 4%;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}

.fs-24 {
  font-size: 24px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

.tab:hover {
  color: #3b72ff;
}

.bg-lightBlue {
  background: #edf2ff;
}

.bg-lightPink {
  background: rgba(255, 240, 237, 1);
}

.separator {
  display: inline-block;
  border: 1px solid #0000001f;
  width: 1px;
  height: 22px;
}

.dark {
  color: white;
}

.app-x-margin {
  margin: 0 3% 0 3%;
}

.fs-36 {
  font-size: 2.25rem;
  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.book-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
  width: 153px;
}

.arrival {
  background: #3b72ff1f;
  font-size: 12px;
  color: #3b72ff;
  border-radius: 6px;
  padding: 2px 8px;
}

.age-group {
  font-size: 12px;
  border: 2px solid #3b72ff1f;
  border-radius: 6px;
  color: #3b72ff;
  padding: 2px 8px;
}
