<section>
  <div class="app-x-margin mt-5">
    <div>
      <i (click)="back()" class="clickable bi bi-chevron-left fs-24"></i>
      <span class="ms-3 fs-36 fw-600">Browse By Age Group</span>
    </div>
    <div class="mt-4">
      <div *ngIf="activeAge" class="d-flex flex-wrap gap-3">
        <app-age-widget
          [active]="isActive(0, 1)"
          [lowerLimit]="0"
          [upperLimit]="1"
        ></app-age-widget>
        <app-age-widget
          [active]="isActive(1, 3)"
          [lowerLimit]="1"
          [upperLimit]="3"
        ></app-age-widget>
        <app-age-widget
          [active]="isActive(3, 6)"
          [lowerLimit]="3"
          [upperLimit]="6"
        ></app-age-widget>
        <app-age-widget
          [active]="isActive(6, 9)"
          [lowerLimit]="6"
          [upperLimit]="9"
        ></app-age-widget>
        <app-age-widget
          [active]="isActive(9, 12)"
          [lowerLimit]="9"
          [upperLimit]="12"
        ></app-age-widget>
        <app-age-widget
          [active]="isActive(12, undefined)"
          [lowerLimit]="12"
        ></app-age-widget>
      </div>
    </div>
  </div>

  <div class="section mt-5">
    <div class="title">Best Sellers for {{ getAgeGroup() }} Years Old</div>
    <div class="mt-2">
      <app-hemant-slider [gap]="'2rem'" [width]="window.screen.width/2">
        <ng-container *ngFor="let book of data.new">
          <app-book-widget [book]="book"></app-book-widget>
        </ng-container>
      </app-hemant-slider>
    </div>
  </div>

  <div class="section">
    <div class="title">New Arrival for {{ getAgeGroup() }} Years Old</div>
    <div class="mt-2">
      <app-hemant-slider [gap]="'2rem'" [width]="window.screen.width/2">
        <ng-container *ngFor="let book of data.peppa">
          <app-book-widget [book]="book"></app-book-widget>
        </ng-container>
      </app-hemant-slider>
    </div>
  </div>

  <div class="section">
    <div class="title">Peppa Pig</div>
    <div class="mt-2">
      <app-hemant-slider [gap]="'2rem'" [width]="window.screen.width/2">
        <ng-container *ngFor="let book of data.popular">
          <app-book-widget [book]="book"></app-book-widget>
        </ng-container>
      </app-hemant-slider>
    </div>
  </div>
</section>
<div class="mt-5">
  <app-my-footer></app-my-footer>
</div>
