<section>
  <div class="app-x-margin mt-3 pb-5">
    <div>
      <i (click)="back()" class="clickable bi bi-chevron-left fs-24"></i>
      <span class="ms-3 fs-36 fw-600">Browse By Age Group</span>
    </div>
    <div class="mt-3 ms-3">
      <app-hemant-slider
        *ngIf="activeAge"
        [gap]="window.length < 6000 ? '1rem' : '2rem'"
      >
        <ng-container *ngFor="let ageGrp of ageGroups">
          <app-age-widget
            *ngFor="let age of ageGrp.ageGroup"
            [active]="isActive(age, age + 1)"
            [lowerLimit]="age"
            [upperLimit]="age + 1"
          ></app-age-widget>
        </ng-container>
      </app-hemant-slider>
    </div>
  </div>

  <section>
    <ng-container *ngIf="mustReadCategory">
      <ng-container
        *ngFor="let cat of mustReadCategory; trackBy: trackCategories"
      >
        <div *ngIf="cat.books.length" class="section mt-3">
          <div class="title">{{ cat.category }}</div>
          <div class="mt-2">
            <app-hemant-slider [gap]="window.length < 6000 ? '1rem' : '2rem'">
              <ng-container *ngFor="let book of cat.books; trackBy: trackBooks">
                <app-book-widget [book]="book"></app-book-widget>
              </ng-container>
            </app-hemant-slider>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </section>

  <section
    (scrolled)="onScroll()"
    [infiniteScrollDisabled]="pending || noMoreData"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    infinite-scroll
  >
    <ng-container *ngIf="categories">
      <ng-container *ngFor="let cat of categories; trackBy: trackCategories">
        <div *ngIf="cat.books.length" class="section mt-3">
          <div class="title">{{ cat.category }}</div>
          <div class="mt-2">
            <app-hemant-slider [gap]="'2rem'" [width]="window.screen.width / 2">
              <ng-container *ngFor="let book of cat.books; trackBy: trackBooks">
                <app-book-widget [book]="book"></app-book-widget>
              </ng-container>
            </app-hemant-slider>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </section>
  <div *ngIf="!noMoreData && pending" class="my-3">
    <app-page-loader></app-page-loader>
  </div>
</section>
<div class="mt-5">
  <app-my-footer></app-my-footer>
</div>
