<div class="mt-1 d-flex gap-2 align-items-center">
  <img alt="amazon" src="assets/icons/amazon.png" />
  <div class="d-flex gap-1 align-items-center">
    <img alt="ratings" src="assets/icons/star.png" />
    <span [ngClass]="getEvalClass('fs-10', 'fs-14')">{{ ratings }}</span>
  </div>
  <div class="separator"></div>
  <div class="d-flex gap-1 align-items-center">
    <img alt="ratings" src="assets/icons/people.png" />
    <span
      [ngClass]="getEvalClass('fs-10', 'fs-14')"
      class="d-inline-block text-truncate"
      >{{ user }}</span
    >
  </div>
</div>
